

body{
    background: linear-gradient(rgba(103, 124, 145, 0.5),rgb(1, 16, 104));
}

nav{width: auto;
    height:50px;
    background-color:rgb(29, 0, 160);
}

nav ul{
    width:auto;
    height:50px;
}
nav ul li{
    list-style-type:none;
}
nav ul li a{
    float:left;
    width:300px;
    text-align:center;
    line-height:50px;
    text-decoration:none;
    font-size:24px;
    font-family:comic sans ms;
    font-weight:bold;
    color:rgb(255, 255, 255);
}
nav ul li a:hover{
    color:black;
    background-color:rgb(255, 255, 255);
}

.Noticias{
    width: 80%;
}
footer{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(112, 112, 112);
}
.copyright{
    text-align: center;
}
.derecha{
    width: 50%;
    display: inline;
}
.izquierda{
    width: 50%;
    display: inline;
}